$primary-color: #007bff;
$secondary-color: #6c757d;
$border-color: #999999;
$danger-color: red;
$success-color: green;
$warning-color: yellow;
$info-color: blue;
$light-color: lightgray;
$dark-color: darkgray;
$white-color: white;
$black-color: black;