@import "./variables";

@mixin respond-to($breakpoint) {
  @if $breakpoint == xs {
    @media (max-width: $breakpoint-xs) { @content; }
  } @else if $breakpoint == sm {
    @media (max-width: $breakpoint-sm) { @content; }
  } @else if $breakpoint == md {
    @media (max-width: $breakpoint-md) { @content; }
  } @else if $breakpoint == lg {
    @media (max-width: $breakpoint-lg) { @content; }
  }
}

@mixin input-base-style($width: 100% , $bg-color: white){
  border-radius: 6px;
  padding: 3px 7px;
  outline: none;
  font-size: 17px;
  border: 1px solid $border-color;
  text-align: right;
  direction: rtl;
}