@import "../../../styles/variables";
//
//.user-content-template {
//  width: 900px;
//  border: 1px solid $border-color;
//  border-radius: 10px;
//  padding: 10px 15px;
//}
//
//.user-content{
//  display: flex;
//  justify-content: space-between;
//  align-items: center;
//
//
//  & .title{
//    display: flex;
//    flex-direction: column;
//    align-items: center;
//    gap: 5px;
//
//    & .title-icon{
//      display: flex;
//      align-items: center;
//      gap: 5px;
//    }
//
//  }
//  & .edit-title{
//    display: flex;
//    flex-direction: column;
//    height: 100%;
//    flex: 1;
//
//    & .edit-title-icon{
//      display: flex;
//      align-items: center;
//      gap: 5px;
//    }
//
//  }
//
//}

//.user-content-template {
//  width: 900px;
//  border: 1px solid $border-color;
//  border-radius: 10px;
//  padding: 10px 15px;
//}
//
//.user-content {
//  display: flex;
//  gap: 20px;
//
//  & > .edit-title {
//    flex: 1;
//    display: flex;
//    flex-direction: column;
//    justify-content: space-between;
//    align-items: start;
//    gap: 10px;
//  }
//
//
//  & .title-icon,
//  & .edit-title-icon {
//    display: flex;
//    align-items: center;
//    gap: 5px;
//  }
//}
.user-content-template {
  //width: 900px;
  border: 1px solid $border-color;
  border-radius: 10px;
  padding: 20px;
  background: #fff;
}

.user-content {
  display: flex;
  gap: 20px;

  .children-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & > .edit-title,
  & > .title {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  & .title {
    align-items: flex-end;
  }

  & .edit-title-icon,
  & .title-icon {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 40px;
  }

  //& .edit-title > div:last-child,
  //& .title > div:last-child {
  //  margin-top: auto;
  //}
}
