.flights {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;

  .container {
    display: flex;
    padding: 20px;

    .right-section {
      width: 300px;
      height: 1000px;
      background-color: white;
      border: 1px solid #dee2e6;
      border-radius: 10px;
      margin: 5px;
    }
    
    .left-section {
        
        .up {
            
            .topic {
                width: 850px;
                height: 380px;
                background-color: white;
                border: 1px solid #dee2e6;
                border-radius: 10px ;
                margin: 5px;
            }
        }
    }
  }
}
