@import "../../variables.scss";
@import "../../mixins";

@mixin list(
  $borderR: none,
  $display: inline,
  $fonts: 14,
  $color: white,
  $back: white
) {
  display: $display;
  color: $color;
  background-color: $back;
  font-size: $fonts;
  border-radius: $borderR;
}

.B-list-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  position: relative;

  .B-specific {
    width: 620px;
    height: 153px;
    @include list($display: flex, $color: white);
    border: 1px solid $border-color;
    border-radius: 0px 10px 10px 0px;
    padding: 16px 16px 0px 16px;
    flex-direction: column;

    .up-container {
      display: flex;
      .piccontainer {
        width: 50px;
        height: 90px;
        @include infoflex($flexD: column, $align: center);
        row-gap: 8px;

        .piccompany {
          width: 35px;
          height: 35px;
          background: linear-gradient(45deg, rgb(87, 91, 95), rgb(2, 141, 255));
          border: none;
          border-radius: 50%;
        }

        .namecompany {
          @include list($fonts: 12);
          font-weight: bold;
        }
      }

      .class-type {
        height: 25px;
        @include list($fonts: 11.5px);
        font-weight: bold;

        .class-type,
        span {
          margin-left: 4px;
          padding: 0px 8px;
          @include list(
            $borderR: 20px,
            $back: rgb(226, 230, 233),
            $color: $text-color
          );
        }
      }

      .aboutcontainer {
        width: 100%;
        padding: 0px 16px;
        .place-time {
          display: flex;
          width: 400px;
          padding: 8px 16px;
          @include infoflex(
            $flexD: row,
            $justify: space-between,
            $align: center
          );

          .line {
            width: 60px;
            height: 1px;
            background-color: $border-color;
          }

          .place {
            width: 134px;
            @include infoflex(
              $flexD: row,
              $justify: space-between,
              $align: center
            );
            @include list($color: black, $fonts: 14px, $display: flex);

            .time {
              font-weight: 800;
              font-weight: 800;
              @include list($color: black, $fonts: 17px);
            }
          }
        }
      }
    }
    .downcontainer {
      position: absolute;
      bottom: 8px;
      right: 0px;
      .rules {
        .rules,
        span {
          margin: 8px 16px;
          @include list($color: rgb(0, 153, 255), $fonts: 13px);
        }
      }
    }
  }

  .B-buy {
    @include infoflex($flexD: column, $justify: center, $align: center);
    position: relative;
    width: 230px;
    height: 153px;
    @include list($back: rgb(255, 255, 255), $display: flex);
    border: 1px solid #dee2e6;
    border-radius: 10px 0px 0px 10px;
    padding: 16px 24px;

    .select-flight {
      width: 180px;
      height: 40px;
      border: solid 0.5px rgb(0, 60, 255);
      @include list($back: $link-color, $color: white, $borderR: 8px);
    }
    .B-price-container {
      width: 170px;
      height: 25px;
      @include infoflex($justify: center, $align: center);
      margin-top: 8px;

      .priceprice {
        font-weight: 800;
        @include list($color: $link-color, $fonts: 20px);
      }

      .unit {
        margin-right: 5px;
        @include list($color: gray, $fonts: 13px);
      }
    }

    .rate {
      font-size: 14px;
      font-weight: 900;
      margin: 5px 0px;
    }
  }
}
