@import "../../mixins";
@import "../../variables.scss";

// Container-----------
.pricecalendar {
  @include infoflex($flexD: column);
  width: 850px;
  height: auto;
  // border: 1px solid rgb(194, 194, 194);

  // TYPE 1---------
  .pricetime-container {
    background-color: white;
    width: 850px;
    // height: 65px;
    border: 1px solid $border-color;
    border-radius: 5px;
    margin: 0px 0px 8px;

    .parent {
      @include infoflex($flexD: row, $justify: space-between);
      width: 100%;
      height: 100%;

      .timemove {
        @include infoflex();
        width: 100%;
        height: 100%;

        .valuesbtn {
          @include infoflex($flexD: column);
          padding: 12px 0px;
          width: 114px;
          height: auto;
          border: none;
          background-color: rgb(248, 250, 251);
        }

        .vallabel {
          @include infoflex($justify: center, $align: center);
          border-left: 1px solid $border-color;
          width: 100%;
          height: auto;
          font-size: 13px;
          height: 20px;
          color: $text-color;
        }
        .valprice {
          @include infoflex($justify: center, $align: center);
          border-left: 1px solid $border-color;
          width: 100%;
          min-height: 0px;
          max-height: 25px;
          font-size: 17px;
        }
      }

      .pricetime {
        width: 100%;
        height: auto;
        border: none;
        padding: 0;
        background-color: rgb(248, 250, 251);
      }
      .pricetime.right {
        border-radius: 0px 5px 5px 0px;
      }
      .pricetime.left {
        border-radius: 5px 0px 0px 5px;
      }
    }
  }

  .sorting {
    @include infoflex($flexD: row, $align: center, $justify: space-between);
    // width: auto;
    height: 35px;
    margin: 16px 0px;

    .sorting-container {
      @include infoflex($flexD: row, $align: center, $justify: space-between);

      .sorting,
      b {
        margin-left: 16px;
        @include infoflex($flexD: row, $align: center);
        font-size: 17px;
        font-weight: 400;
      }

      sorting,
      div {
        font-size: 11px;
        color: rgb(167, 167, 167);
        min-height: 0px;
        max-height: 30px;
      }

      .sort-ul {
        @include infoflex();
        // height: 38px;
        border-radius: 100px;
        border: 1px solid $border-color;
        background-color: white;
      }

      .sort-ul,
      li {
        padding: 0;
        .sort-btn {
          @include infoflex($flexD: column, $align: center);
        }
        .sort-ul,
        a {
          @include infoflex($align: center);
          padding: 8px 32px;
          height: 33px;
          font-size: 14px;
        }

        .sort-ul,
        li::after {
          content: "";
          border-left: 1px solid $border-color;
          height: 20px;
        }
        &:last-child::after {
          display: none;
        }
      }
    }
  }
  .date-container {
    border-radius: 100px;
    border: 1px solid $border-color;
    background-color: white;

    .date-spn {
      padding: 0px 12px;
      // border-left: 1px solid $border-color;@Crypto369.com
    }
  }
  .mark {
    .mark-item {
      @include infoflex($flexD: row, $align: center);
      margin-bottom: 8px;
      font-size: 14px;
    }
    .mark-item,
    span {
      @include infoflex();
    }
    svg {
      padding-left: 8px;
      font-size: 25px;
    }
  }
}

.shortcut {
  @include infoflex($justify: space-between, $flexD: column);
  width: 850px;
  height: 190px;
  background: white;
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid $border-color;
  border-radius: 8px;

  .price-compairson {
    @include infoflex($justify: space-between, $flexD: row, $align: center);

    .comparison {
      @include infoflex($justify: space-between, $flexD: row, $align: center);
      width: 210px;
      height: 32px;
      font-size: 15px;
      svg {
        padding-top: 3px;
        font-size: 28px;
      }
    }
    .frontmark {
      svg {
        padding-top: 2px;
        font-size: 15px;
      }
    }

    .change-compairson {
      @include infoflex($justify: space-between, $flexD: row, $align: center);
      width: 280px;
      padding: 0px 8px;

      .cast-price {
        @include infoflex($justify: center, $flexD: row, $align: center);

        .cast-price,
        span {
          font-size: 10px;
          margin-right: 4px;
        }

        svg {
          font-size: 14px;
        }
      }
    }

    .change-com {
      @include infoflex($justify: space-between, $flexD: row, $align: center);
      width: 73px;

      .change-com,
      button {
        width: 32px;
        height: 32px;
        border: 1px solid $border-color;
        border-radius: 8px;
        background: none;

        svg {
          font-size: 23px;
        }
      }
    }
  }

  .cover-box {
    border: 1px solid $border-color;
    border-radius: 5px;
    margin-left: 8px;
  }

  .price-com-container {
    @include infoflex($justify: space-between, $flexD: row, $align: center);
    height: auto;
    .price-com-box {
      @include infoflex($justify: space-between, $flexD: column);
      width: 127px;
      height: 119px;
      padding: 4px 8px;
      .name-berand {
        @include infoflex($justify: space-between, $flexD: row, $align: center);

        .pic-com {
          width: 16px;
          height: 16px;
          background: linear-gradient(45deg, rgb(87, 91, 95), rgb(2, 141, 255));
          border: none;
          border-radius: 50%;
        }

        .nam-com {
          font-size: 12px;
        }
      }
    }

    .stop-stright-plusstop {
      @include infoflex($flexD: column);

      .stp-contaner {
        @include infoflex($justify: space-between, $flexD: row, $align: center);

        .time-name {
          font-size: 10px;
        }

        .time-zon {
          font-size: 12px;
        }
      }
    }
  }
}
.pricetimebox-container {
  width: auto;
  height: 50px;
  background-color: white;
  margin-bottom: 12px;
  padding: 10px;
  border: 1px solid $border-color;
  border-radius: 8px;

  .price-calendar-wrapper {
    @include infoflex($flexD: row, $align: center);
    font-size: 16px;
    font-weight: 300;
    height: 25px;
    svg {
      font-size: 25px;
      margin-top: 2px;
    }
    b {
      margin-right: 10px;
    }
    .mark-wrapper {
      margin-top: 10px;
      margin-right: 5px;
    }
    .btn-wrapper {
      margin-right: 625px;
      background-color: white;
      font-size: 17px;
      img {
        width: 20px;
      }
    }
  }
}
