@import "../../mixins";

.B-title {
  padding: 16px 20px;
  @include infoflex();
  .B-title,
  p {
    margin: 0;
  }
  .B- title,
  p,
  span {
    font-size: 13px;
  }
}
.B-sidebar {
  @include infoflex($flexD: column);
  height: 100%;
  .B-summary {
    @include infoflex($flexD: row, $justify: space-between, $align: center);
    padding: 8px 16px;
    font-size: 14.5px;
    .B-summary,
    span {
      display: flex;
    }
  }
  .slidercontainer {
    @include infoflex($flexD: column, $justify: end);
    width: 100%;
    height: auto;
    padding: 20px 16px 0px 16px;

    .time-range-labels {
      @include infoflex($justify: space-between);
      font-size: 13px;
    }
  }
}

.checkboxcontainer {
  @include infoflex($flexD: row, $align: center);

  .B-checkbox {
    @include infoflex($justify: center, $align: center);
  }

  .comcontainer {
    width: 245px;
    column-gap: 5px;
    @include infoflex($flexD: row, $align: center, $justify: space-between);

    .comcontainer,
    h4 {
      margin-right: 5px;
    }

    .parentcomphoto {
      @include infoflex($justify: center, $align: center);

      .compho {
        width: 23px;
        height: 23px;
        background: linear-gradient(45deg, rgb(87, 91, 95), rgb(2, 141, 255));
        border: none;
        border-radius: 50%;
      }
    }
    .comcontainer,
    small {
      @include infoflex($flexD: row);
      font-size: 12px;
      color: gray;
    }
  }
}
.searchh-container {
  @include infoflex($justify: center);
  width: auto;
  height: 40px;
  padding: 0px 16px;
  margin-top: 8px;
  .border-box {
    @include infoflex($justify: center, $flexD: row, $align: center);
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    width: 270px;

    .searchh {
      width: 100%;
      border-radius: 10px;
      border: none;
      outline: none;
      -webkit-appearance: none;
      appearance: none;
      font-size: 15px;
      margin-right: 10px;
      cursor: text;
    }

    .searchh::placeholder {
      color: rgb(163, 163, 163);
    }
    .search-icon {
      width: 30px;
      height: 34px;
      svg {
        font-size: 35px;
        padding-top: 4px;
      }
    }
  }
}

.divider {
  margin: 0px;
  border: none;
  height: 1px;
  background-color: #dddddd;
}

.B-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.B-li {
  padding: 12px;
  @include infoflex($align: center, $flexD: row);
}

.B-input {
  width: 23px;
  height: 23px;
  accent-color: rgb(0, 119, 219);
  border-radius: 20px;
  cursor: pointer;
}

.B-h4 {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: black;
}

a {
  display: flex;
  column-gap: 6px;
  a,
  .B-h4 {
    font-size: 15.5px;
  }
}

.B-button {
  @include infoflex($justify: center, $align: center);
  width: 33px;
  height: 33px;
  border-radius: 50%;
  border: none;
  padding: 0;
  background-color: rgb(248, 250, 251);
}

.B-label {
  @include infoflex($align: center, $flexD: row, $justify: space-between);
  width: 100%;

  .B-label,
  .B-h4 {
    margin-left: auto;
  }
}
