.title {
  padding: 16px 20px;
  .title,
  p {
    margin: 0;
  }
  .title,
  p,
  span {
    font-size: 13px;
  }
}
.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  .summary {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    font-size: 14.5px;
    .summary,span{
      display: flex;
    }
  }
  .slidercontainer {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    height: auto;
    padding: 0px 16px;

    .time-range-labels {
      display: flex;
      justify-content: space-between;
      font-size: 13px;
    }
  }
}

.checkboxcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;

  .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .comcontainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    column-gap: 5px;
    .comcontainer,
    h4 {
      width: 180px;
    }

    .parentcomphoto {
      display: flex;
      align-items: center;
      justify-content: center;

      .compho {
        width: 23px;
        height: 23px;
        background: linear-gradient(45deg, rgb(87, 91, 95), rgb(2, 141, 255));
        border: none;
        border-radius: 50%;
      }
    }
    .comcontainer,
    small {
      display: flex;
      flex-direction: row;
      font-size: 12px;
      color: gray;
    }
  }
}

hr {
  margin: 0px;
  border: none;
  height: 1px;
  background-color: #dddddd;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}

input {
  width: 23px;
  height: 23px;
  accent-color: rgb(0, 119, 219);
  border-radius: 20px;
  
}

h4 {
  margin: 0;
  font-size: 15px;
  font-weight: 500;
}

a {
  display: flex;
  column-gap: 6px;
  a,
  h4 {
    font-size: 15.5px;
  }
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  border: none;
  padding: 0;
background-color:rgb(242, 249, 255);
}
