$text-color: #555555;
$title-color: black;
$hover-color: #f8f8f8;
$icon-color: #555555;
$border-color: #e0e0e0;
$link-color: #0077cc;
$button-color: rgb(253, 183, 19);

$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;