@import "../../../../styles/variables.scss";

.textt {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: $border-color;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 10px;
  &-text0 {
    font-weight: bold;
    font-size: 18px;
    color: darken($border-color, 100%);
  }
}

.subtext {
    margin-right: -55px;
    display: flex;
}
.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.containerr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 10px;
    &-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 18px;
        font-weight: bold;
        color: darken($border-color, 50%);
        justify-content: flex-start;
        &-1 {
            margin-top: -15px;
            color: darken($border-color, 20%);
            font-size: 15px;
            &-span {
                font-size: 15px;
                color: $warning-color;
            }
        }
    }
}
.businfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid $border-color;
    flex: 3;
    &-text {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-right: 15px;
        width: 100%;
    }
    &-title {
        font-size: 18px;
        font-weight: bold;
        color: darken($border-color, 50%);
    }
}
.dropdown-container-item-subtitle1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.dropdown-container-item-subtitle2{
    border: 1px solid $border-color;

    display: flex;
    flex-direction: column;
    flex: 3;
    &-container {
    display: flex;
    flex-direction: row;
    flex: 3;
    align-items: center;
    justify-content: center;
    &-text {
        margin: 20px 0px;
        padding: 10px;
        display: flex;        
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        &-title {
            font-size: 21px;
            font-weight: bold;
            color: darken($danger-color, 20%);
        }
        &-desc {
            font-size: 18px;            color: darken($border-color, 20%);
        }
    }
    &-border {border-left: 1px solid $border-color;
    }
}}
