@import '../../styles/variables.scss';

@mixin navbar-styles($gap) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: $gap;
}

@mixin navbar-item-styles {
    display: flex;
    align-items: center;
    gap: 5px;
}

.header {
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    margin: 0;
    margin-top: 0;
    height: 65px;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
    z-index: 1;

    .navbar-container {
        display: grid;
        grid-template-columns: 7fr 10fr;
        height: 100%;
        width: 1400px;

        .navbar-left {
            @include navbar-styles(34px);

            .navbar-left-item {
                @include navbar-item-styles;
            }
        }

        .navbar-right {
            display: flex;
            align-items: center;

            .navbar-logo {
                display: flex;
                align-items: center;
                margin-left: 10px;

                .logo-text {
                    font-size: 28px;
                    font-weight: 500;
                    position: relative;
                    top: 5px;
                    color: $title-color;
                }

                .logo {
                    width: 50px;
                    display: flex;
                    align-items: center;

                    img {
                        width: 50px;
                        height: 50px;
                    }
                }
            }

            .navbar-right-items {
                @include navbar-styles(22px);

                .navbar-right-item {
                    @include navbar-item-styles;
                    padding-right: 20px;
                    margin-right: 0px;
                    border-right: 1px solid #e0e0e0;
                }

                .navbar-right-item:first-child {
                    border-right: none;
                }
            }
        }

        .icon {
            width: 18px;
            filter: invert($icon-color);
        }

        .icon.user {
            width: 22px;
        }
    }
}