@import "../../styles/general.scss";

.dropdown-container {
    display: flex;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    .dropdown-menu {
        list-style-type: none;
        padding: 5px;
        text-align: right;
        .dropdown-button {
            border: none;
            background-color: white;
            font-weight: 500;
        }
    }

    li {
        border-bottom: 1px solid $border-color;
    }
    li:last-child {
        border-bottom: none;
    }
}