@import '../../styles/general.scss';

@mixin navbar-styles($gap) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: $gap;
}

@mixin navbar-item-styles {
    display: flex;
    align-items: center;
    gap: 5px;
}

.header {
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    margin: 0;
    margin-top: 0;
    height: 65px;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
    z-index: 1;

    .navbar-container {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        height: 100%;
        width: 1500px;
        transition: all 0.5s ease-in-out;

        .navbar-right {
            .navbar-right-items {
                @include navbar-styles(34px);
            }

            .navbar-right-item {
                @include navbar-item-styles;
            }
        }

        .navbar-left {
            display: flex;
            align-items: center;

            .navbar-logo {
                display: flex;
                align-items: center;
                margin-right: 15px;

                &.fa {
                    margin-right: 0;
                    margin-left: 5px;
                }

                .logo-text {
                    font-size: 28px;
                    font-weight: 500;
                    position: relative;
                    top: 5px;
                    color: $title-color;
                }

                .logo {
                    width: 50px;
                    display: flex;
                    align-items: center;

                    img {
                        width: 50px;
                        height: 50px;
                    }
                }
            }

            .navbar-left-items {
                @include navbar-styles(22px);

                .navbar-left-item {
                    @include navbar-item-styles;
                    padding-left: 15px;
                    margin-right: -5px;
                    margin-left: 0px;
                    border-left: 1px solid $border-color;
                }

                .navbar-left-item:first-child {
                    border-right: none;
                }

                &.fa {
                    .navbar-left-item {
                        padding-left: 20px;
                        padding-right: 0;
                        margin-right: 0;
                    }

                    .navbar-left-item:last-child {
                        border-left: none;
                    }

                    .navbar-left-item:first-child {
                        border-right: 1px solid $border-color;
                        padding-right: 20px;
                    }
                }
            }
        }

        .icon {
            width: 18px;
            filter: invert($icon-color);
        }

        .icon.user {
            width: 22px;
        }
    }
}